<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scubalogbook_v200">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="INHA-SCUBA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScubaLogbook_v200">
        <activity
            android:name=".EnterDiveNumAndDate"
            android:exported="true" />
        <activity
            android:name=".EnterPrevDiveNum"
            android:exported="true"
            android:theme="@style/Theme.ScubaLogbook_v200" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ScubaLogbook_v200">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>